<div ng-controller="TransportationCtrl">
    <div class="hidden" ng-repeat="url in transportationInfo.photoUrlList">
        <a class="example-image-link" href={{url}} data-lightbox="example-set"><img width="100%" class="example-image"
                                                                                    ng-src={{url}} alt=""/></a>
    </div>
    <div id="accomodation-carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
        <img width="100%" ng-click="openGallery()" src="assets/img/trGallery.png"/>
    </div>
    <!-- Tabs -->
    <div class="tabs-wrapper">
        <div class="container">
            <!-- Nav tabs -->
            <ul class="transportation nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#overview" aria-controls="overview" target="_self" role="tab"
                       data-toggle="tab">Overview</a>
                </li>
                <!-- <li role="presentation">
                  <a href="#location" aria-controls="location" target="_self" role="tab" data-toggle="tab">Location</a>
                </li> -->
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="overview">
                    <h3 class="tab-title">{{transportationInfo.serviceName}}</h3>
                    <h6 class="tab-title">{{transportationInfo.type}}</h6>
                    <p class="tab-content">{{transportationInfo.description}}
                    </p>
                </div>
                <!-- <div role="tabpanel" class="tab-pane" id="location">
                  <h3 class="tab-title">Location of the place</h3>
                  <p class="tab-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere ab nostrum veniam eius, inventore, soluta eligendi, delectus nisi in odit iste voluptatem. Architecto hic repellendus molestiae veritatis, obcaecati enim rem.
                  </p>
                  </div> -->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-lg-offset-8 text-center view-profile">
                <h3 class="hosted-by">Hosted by</h3>
                <img ng-src={{profileImage}} class="img-responsive avatar" alt="Isabela">
                <h3>{{profileInfo.firstName}} {{profileInfo.lastName}}</h3>
                <p class="place">{{profileInfo.city}} , {{profileInfo.country}}</p>
                <div class="grade-box">
                    <img src="assets/img/home/full-grade.png">
                    <img src="assets/img/home/full-grade.png">
                    <img src="assets/img/home/full-grade.png">
                    <img src="assets/img/home/full-grade.png">
                    <img src="assets/img/home/one-third-grade.png">
                </div>
                <a href="#!/profile/{{profileInfo.uid}}">
                    <button class="button-2">View Profile</button>
                </a>
            </div>
        </div>
    </div>
    <!--Location-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Location</h2>
                    <p class="tab-content">{{profileInfo.city}} , {{profileInfo.country}}</p>
                    <div id="map"></div>
            </div>
        </div>
    </div>
</div>