<div ng-controller="PreviewServicesCtrl">
	<div>
	  	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	    <!-- Indicators -->
		    <ol class="carousel-indicators">
		      	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		      	<li data-target="#myCarousel" data-slide-to="1"></li>
		      	<li data-target="#myCarousel" data-slide-to="2"></li>
		      	<li data-target="#myCarousel" data-slide-to="3"></li>
		      	<li data-target="#myCarousel" data-slide-to="4"></li>
		    </ol>

		    <!-- Wrapper for slides -->
		    <div class="carousel-inner">
			    <div class="item active">
			        <img src="assets/img/services-slider.jpg" alt="slide" style="width:100%;">
			    </div>

		        <div class="item">
		        	<img src="assets/img/services-slider.jpg" alt="slide" style="width:100%;">
		        </div>

		        <div class="item">
		        	<img src="assets/img/services-slider.jpg" alt="slide" style="width:100%;">
		        </div>

		        <div class="item">
		        	<img src="assets/img/services-slider.jpg" alt="slide" style="width:100%;">
		        </div>

		        <div class="item">
		        	<img src="assets/img/services-slider.jpg" alt="slide" style="width:100%;">
		        </div>
		    </div>

	  	</div>
	</div>

	<section class="services-first-section">
		<div class="container">
			<div class="col-lg-8">
			  	<ul class="nav nav-tabs">
			    	<li class="active"><a data-toggle="tab" target="_self" href="#home">Overview</a></li>
			    	<li><a data-toggle="tab" target="_self" href="#menu1" >Location</a></li>
			  	</ul>

			  	<div class="tab-content">
			    	<div id="home" class="tab-pane fade in active">
			      		<h3>Name Of The Place</h3>
			      		<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
			    	</div>
			    	<div id="menu1" class="tab-pane fade">
			      		<h3>Name Of The Place2</h3>
			      		<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
			    	</div>
			  	</div>
			</div>

			<div class="col-lg-4">
				<div class="carousel-profile">
					<h4>Hosted by</h4>
		          	<a href="#"><img class="carousel-image" alt="Image Caption" src="assets/img/home/carousel-profile-img.jpg"></a>
		          	<h3>Bertha</h3>
		          	<p>Munich, Germany</p>
		          	<div class="grade-box">
		          		<img src="assets/img/home/full-grade.png"/>
		          		<img src="assets/img/home/full-grade.png"/>
		          		<img src="assets/img/home/full-grade.png"/>
		          		<img src="assets/img/home/full-grade.png"/>
		          		<img src="assets/img/home/one-third-grade.png"/>
		          	</div>
		          	<button class="button-2">View Profile</button>
		        </div>
			</div>
		</div>
	</section>

	<section class="services-second-section">
		<div class="container">
			<h3>Location</h3>
      		<p>Name of the Street 99, 1st flor, Name of the Town, Country</p>

      		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9657.789561794665!2d5.006757153851336!3d45.64001014709103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4daad8d64ab59%3A0x3124516846cb1060!2zUnVlIEJlbCBhaXIsIDY5NzgwIFNhaW50LVBpZXJyZS1kZS1DaGFuZGlldSwg0KTRgNCw0L3RhtGD0YHQutCw!5e0!3m2!1ssr!2srs!4v1501590758772" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</section>
</div>